.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number {
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 56px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
.text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  text-align: right;
  color: #fcfcfc;
}
