.yellowBtn {
  background: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 17px;
  transition: background 0.3s ease-in;
  &:hover {
    background: #0a8817;
    color: #ffffff;
  }
}
.imgArrow {
  vertical-align: middle;
  margin-left: 10px;
}
