.revius {
  background-image: url(../../../public/img/IcecreamBlock2bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.moreice {
  display: block;
  margin: 0 auto;
}
