.smallCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smallCardBody {
  width: 132px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  margin-bottom: 30px;
}
.smallcardTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
