.title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-top: 45px;
}
.headerBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}
.link {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration-line: underline;
  color: #f8d24e;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 17px;
}
